<div class="col-lg-2 mt-5 px-3 px-auto">
  <div class="d-inline-block">
    <p class="h2"><%= common_posts.songs_title %></p>
    <p><%= common_posts.artist %></p>
    <img src="<%= common_posts.artwork %>" width="210" height="210" alt="artiwork">
  </div>
</div>