<%= render "shared/header_user_after_signin" %>

<style>
  #sample {
    height: 94vh;
  }

  .info-window {

  }

  #myTab {
    position: relative;
  }

  .nav-map {
    position: absolute;
    z-index: 1;
    top: 250px;
    left: 0;
  }

  .nav-time {
    position: absolute;
    z-index: 1;
    top: 300px;
    left: 0;
  }

  .nav-pills .nav-link {
    border-radius: 0 !important;
    width: 40px;
    height: 40px;
  }

  .nav-link {
    padding-left: 12px !important;
    padding-top: 7px;
  }

  .col-lg-10 {
    padding: 0 !important;
  }

</style>




<div class="container-fluid">
  <div class="row">
    <%= render 'prousts/sidebar', common_posts: @common_posts %>
    <div class="col-lg-10 tab-content" id="myTabContent">
      <ul class="nav nav-pills" id="myTab" role="tablist">
        <li class="nav-item nav-map bg-white">
          <a class="nav-link active" id="map-tab" data-toggle="tab" href="#map" role="tab" aria-controls="map" aria-selected="true">
            <i class="fas fa-map-marker-alt"></i>
          </a>
        </li>
        <li class="nav-item nav-time bg-white">
          <a class="nav-link" id="time-tab" data-toggle="tab" href="#time" role="tab" aria-controls="time" aria-selected="true">
            <i class="far fa-clock"></i>
          </a>
        </li>
      </ul>
      <div class="tab-pane fade show active" id="map" role="tabpanel" aria-labelledby="map-tab">
        <div id="sample"></div>
      </div>
      <div class="tab-pane fade" id="time" role="tabpanel" aria-labelledby="time-tab">
        
      </div>
    </div>
  </div>
</div>

<script>

var map;
var marker = [];
var infoWindow = [];


var markerData = [ // マーカーを立てる場所名・緯度・経度
  {
       addr: 'TAM 東京',
       lat: 35.6954806,
        lng: 139.76325010000005,
        // icon: 'tam.png' // TAM 東京のマーカーだけイメージを変更する
 }, {
        addr: '小川町駅',
     lat: 35.6951212,
        lng: 139.76610649999998
 }, {
        addr: '淡路町駅',
     lat: 35.69496,
      lng: 139.76746000000003
 }, {
        addr: '御茶ノ水駅',
        lat: 35.6993529,
        lng: 139.76526949999993
 }, {
        addr: '神保町駅',
     lat: 35.695932,
     lng: 139.75762699999996
 }
];


function initMap() {
 // 地図の作成
    var mapLatLng = new google.maps.LatLng({lat: markerData[0]['lat'], lng: markerData[0]['lng']}); // 緯度経度のデータ作成
   map = new google.maps.Map(document.getElementById('sample'), { // #sampleに地図を埋め込む
     center: mapLatLng, // 地図の中心を指定
      zoom: 10 // 地図のズームを指定
   });

 for (var i = 0; i < gon.common_posts.length; i++) {
        markerLatLng = new google.maps.LatLng({ lat: parseFloat(gon.common_posts[i]['latitude']), lng: parseFloat(gon.common_posts[i]['longitude']) }); // 緯度経度のデータ作成
        marker[i] = new google.maps.Marker({ // マーカーの追加
         position: markerLatLng, // マーカーを立てる位置を指定
            map: map // マーカーを立てる地図を指定
       });

     infoWindow[i] = new google.maps.InfoWindow({ // 吹き出しの追加
         content: '<div class="info-window">' + '<p>' + gon.common_posts[i]['created_at'] + '</p>' + `<a href='/prousts/${gon.common_posts[i]["id"]}/common_posts_show'>` + gon.common_posts[i]['songs_title'] + '</a>' + '<p>' + gon.common_posts[i]['address'] + '</p>' + '<p>' + gon.common_posts[i]['body'] + '</p>' +'</div>' // 吹き出しに表示する内容
       });

     markerEvent(i); // マーカーにクリックイベントを追加
 }



}

// マーカーにクリックイベントを追加
var currentInfoWindow = null;
function markerEvent(i) {
  marker[i].addListener('click', function() { // マーカーをクリックしたとき
    if (currentInfoWindow) {
      currentInfoWindow.close();
    }
    //情報ウィンドウを開く
    infoWindow[i].open(map, marker[i]); // 吹き出しの表示
    currentInfoWindow = infoWindow[i];
  });
}
initMap();
</script>