// Place all the styles related to the Prousts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-xl-3 {
  padding: 0 !important;
}

.new-post-wrapper {
  height: 94vh;
}

.post-btn {
  margin-top: 15px;
}

.song-title, .address-title, .post-title {
  font-size: 25px;
}

.song-item, .address-item, .post-item {
  margin-bottom: 25px;
}

.song-item {
  margin: 25 auto;
}

.song-element {
  margin-bottom: 0;
}

#post_body {
  width: 100%;
  height: 15vh;
}

.map-info-song-title {
  text-decoration: none;
}

.map-info-time {
  font-size: 12px;
}

.post-address {
  font-size: 12px;
}

.post-content {
  border: 1px solid #ddd;
  width: 60vw;
}


