// Place all the styles related to the Prousts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
  height: 6vh;
}

.fa-sign-in-alt {
  font-size: 10px;
  margin-right: 10px;
}

.header-element {
  line-height: 34px;
}